body {
  /* background-color: yellow; */
  background-color: rgb(46 50 58);
  margin: 0%;
}

.navList {
  position: fixed;
  float: left;
  z-index: 100;
  background-color: white;
  padding-inline-start: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.navLink {
  display: inline-block;
  font-size: medium;
  padding: 12px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(35 39 47);
}

.aboutBtn,
a:link,
a:visited,
a:active {
  padding: 12px;
  color: rgb(235 236 240);
  text-decoration: none;
}

a:hover,
.aboutBtn:hover {
  background: rgb(46 50 58);
  padding: 12px;
}

p {
  font-size: 50px;
  margin-top: 0%;
}

h1,
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
  color: white;
}

.aboutBtn {
  background-color: rgba(35 39 47);
  position: fixed;
  margin-top: 50vh;
  font-size: 25px;
  border-style: none;
  border-radius: 50px;
  z-index: 100;
}

.insideDiv {
  flex-direction: column;
  align-self: center;
}

.outsideDiv {
  display: flex;
  min-height: 100vh;
  background-color: rgb(27 30 37);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gza;
  color: white;
  font-weight: lighter;
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;

}

/* rgb(35 39 47)  */
/* lighter */
/* rgb(27 30 37)  */
/* darker */

.test {
  text-align: center;
}

.directionBtn {
  justify-content: center;
  text-align: center;
}

.nextBtn {
  text-align: right;
}

.leftText {
  text-align: left;
  justify-content: left;

}

.skillsText {
  display: flex;
  background-color: rgb(27 30 37);
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.floatText {

  justify-content: left;
  font-size: 1em;
}

.notHidden {
  transition: all 0.5s;
  opacity: 1;
  visibility: visible;
}

.hidden {
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

svg {
  width: 100%;
  height: 90vh;
  margin-top: 0%;
  background-color: red;
}

.svgMostOuter {
  position: absolute;
  margin: 2.5rem;
  border: 2px solid red;
  width: 90vw;
  height: 90vh;
}

.testDivplsIgnore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thisone {
  width: 10vh;
  height: 10vh;
}

.thistwo {
  width: 10vh;
  height: 10vh;

}

.topletterline {
  top: 25vh;
}

.bottomletterline {
  top: 27.5vh;
  display: inline-table;
}

.these {
  position: relative;
  will-change: "transform";
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transition: all 1s ease-out;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.hello {
  display: flex;
  flex-direction: row;
}

.nexClassName {
  width: 100lvw;
  height: 100vh;
  padding: 0;
  position: fixed;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.creditCardButton
{
  width: 50lvw;
  height: 50vh;
  background-color: yellow;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 50;
  border-radius: 50px;
}